@import url(http://fonts.googleapis.com/css?family=Roboto);

@bgcolor: #286090;
@textcolor: #eee;

h1, li, p, label, legend, input, div {
    font-family: 'Roboto', sans-serif;
}

.navbar(){
    background-color: @bgcolor;
    p {
        color: @textcolor;
    }
}

.navbar-href() {
    a {
        color: @textcolor;
        &:hover {
            color: whitesmoke;
        }
        &:visited {
            color: @textcolor;
        }
    }
}

.alert(@color) {
    width: 720px;
    margin: 0 auto 20px;
    border-radius: 0px;
    background-color: @color;
    border-color: @color;
    color: @textcolor;
}

.navbar-static-top  {
    margin-bottom: 0px;
    border-bottom: 0px;
    .navbar();
    .navbar-right li {
        .navbar-href();
    }
}

.navbar-static-bottom {
    .navbar();
    .navbar-href();
}

.jumbotron {
    height: 500px;
    background-size: cover;
    margin-bottom: 0px;
    h1 {
        padding-top: 100px;
        color: @textcolor;
    }
    p {
        padding-top: 20px;
    }
    .btn-primary {
        border-radius: 0px;
    }
    &:nth-child(2) {
        background: url('pictures/bg01.jpg') no-repeat;
    }
    &:nth-child(3){
        background: url('pictures/bg02.jpg') no-repeat;
    }
    &:nth-child(4) {
        background: url('pictures/bg03.jpg') no-repeat;
    }    
}

.gallery-form {
    width: 480px;
    margin: 0 auto;
    label, legend {
        color: @textcolor;
        font-weight: normal;
    }
    input {
        border-radius: 0px;
    }
}

.jumbotron-form {
    height: 600px;
}

.alert-danger {
    .alert(#A94442);
}

.alert-success {
    .alert(#3C763D);
}